h1{
  color: blue;
  text-align: center;
}
h2{
  color: aquamarine;
  font-style: italic;
  text-align: center;
}
p{
  font-family: 'Times New Roman', Times, serif;
}
ul{
  line-height: 40px;
}
body{
    background-color: burlywood;
}
em{
  font-style: normal;
  background-color: cornflowerblue;
}
strong{
    font-style: italic;
}
